html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    font-size: 5em;
    text-align: center;
    border: 1px solid red;
    height: 175px;
    width: 175px;
}

button, input, label {
    padding: 0px;
    margin: 0px;
    font-size: 0.75em;
    height: 50px;
    width: 100px;
}

input {
    padding-top: 10px;
    height: 30px;
    width: 150px;
    padding-left: 10px;
}

#user-settings {
    margin: 0.5em 0;
    text-align: center;
}

button:hover {
    background-color: red;
}