html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #D5DFE5;
    color: #0F0F0F;
}

table {
    margin: auto;
    border-collapse: collapse;
    color: #0F0F0F;
}

td {
    font-size: 5em;
    text-align: center;
    border-right: 5px solid #0F0F0F;
    height: 175px;
    width: 175px;
}

tr {
    border-bottom: 5px solid #0F0F0F;
}

tr:last-child {
    border-bottom: none;
}

td:last-child {
    border-right: none;
}

button, input, label {
    border: none;
    padding: 0px;
    margin: 0px;
    font-size: 0.75em;
    height: 50px;
    width: 100px;
}

button {
    margin-right: 20px;
    background-color: #E5EBEF;
}

label {
    background-color: #D5DFE5;
    padding-right: 5px;
}

input {
    background-color: #E5EBEF;
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 150px;
    padding-left: 10px;
}

#user-settings {
    height: 100px;
    margin: 10px 0;
    text-align: center;
}

button:hover {
    background-color: #3C5462;
    color: #F0F4F6;
}

.alertWindow {
    background-color: red;
}